header {
    flex: 1 100%;
    padding: 0 calc(50% - 500px - 1rem);
    margin-bottom: 2rem;
    border-bottom: 1px solid lighten( black, 95% );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
header > * {
    display: block;
    padding: 1rem 1rem 0 1rem;
}

header language {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    color: lighten( black, 70% );
}

header basket {
    height: 3.3rem;
    overflow: hidden;
}
header basket .material-icons {
    color: $green;
}

header logo {
    text-align: center;
    flex: 1 100%;
    margin-bottom: 2vh;
}
header logo img {
    max-height: 10vh;
    max-width: 80vw;
}

header nav {
    width: 100%;
    padding: 2rem 1rem 0.5rem 1rem;
    font-family: $serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a,
header nav a:link,
header nav a:visited {
    white-space: nowrap;
    display: inline-block;
    color: lighten( black, 30% );
    text-decoration: none;
    margin: 0 1vw 1rem 1vw;
    padding: 0 0 0.1rem 0;
    border-bottom: 1px solid transparent;
}
header nav a:hover,
header nav a:active {
    color: $green !important;
    border-bottom: 1px solid $green;
}
