<nav>
    <ul>
        <li><a href="#">о нас</a></li>
        <li><a href="#">озеленение</a></li>
        <li><a href="#">заказ</a></li>
        <li><a href="#">оплата</a></li>
        <li><a href="#">контакты</a></li>
    </ul>
</nav>
<contacts>
    Свяжитесь с нами: +38 (044) 360-40-71, <a href="mailto:shop@cvetnik.com.ua">shop@cvetnik.com.ua</a>
</contacts>
<copyright>
    2005&nbsp;&#151;&nbsp;2016 <strong>&copy;</strong> Интернет-магазин декоративных растений <a href="/#/">Цветник</a>. Продажа и доставка домашних растений по Киеву, заказ комнатных растений, композиции из горшечных цветов, растения в подарок. Бесплатные консультации по уходу за комнатными цветами. У нас Вы также можете купить под любой цветок керамический горшок или кашпо. Услуги по озеленению офисов и квартир горшечными растениями.
</copyright>