<language>
    RU
</language>
<basket><i class="material-icons">shopping_basket</i></basket>
<logo><a href="/#/"><img src="img/logo.png" inline></a></logo>
<nav>
    <ul>
        <li><a href="#/text">о нас</a></li>
        <li><a href="#">озеленение</a></li>
        <li><a href="#">заказ</a></li>
        <li><a href="#">оплата</a></li>
        <li><a href="#">контакты</a></li>
        <li><a href="#/{{header.nav[0].name}}">{{header.nav[0].subject}}</a></li>
        <!--
        <li><a href="#"><i class="material-icons">add_box</i></a></li>
        -->
    </ul>
</nav>