
<form ng-repeat="item in product.list track by $index" ng-if="item.link === product.currentLink">

    <h1>{{item.title || 'Empty'}}</h1>

    <fieldset>
        <label>
            Title
            <input type="text" ng-model="item.title">
        </label>
    </fieldset>
    <fieldset>
        <label>
            Full Name
            <input type="text" ng-model="item.fullName">
        </label>
    </fieldset>
    <fieldset>
        <label>
            Latina
            <input type="text" ng-model="item.latina">
        </label>
    </fieldset>
    <fieldset>
        <label>
            Link
            <input type="text" ng-model="item.link">
        </label>
    </fieldset>
    <fieldset>
        <label>
            Price
            <input type="text" ng-model="item.price">
        </label>
    </fieldset>
    <fieldset>
        <label>
            Size
            <input type="text" ng-model="item.size">
        </label>
    </fieldset>
    <fieldset>
        <label>
            Description
            <textarea ng-model="item.description">{{item.description}}</textarea>
        </label>
    </fieldset>
    <fieldset>
        <legend>Categories</legend>
        

            <select multiple ng-size="{{product.allCategories.length}}" ng-model="item.category" ng-click="product.itemConsole(item)">
                <option ng-repeat="cat in product.allCategories" ng-selected="product.categoryMatch(cat.link,item.category)" ng-model="item.category[$index]" ng-bind="cat.title">{{cat}}</option>
            </select>
    </fieldset>
    <fieldset>
        <label>
            Pictures
            <img ng-src="{{'https://api.backendless.com/1C32EF32-4F17-A809-FFFE-1E36794D9700/v1/files/pictures/' + item.pictures.split('|')[0]}}">
        </label>
    </fieldset>
</form>