container > section[product] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
container > section[product] dl {
    flex: 1 30%;
    font-family: $serif;
}
container > section[product] dl {
    flex: 1 30%;
    font-family: $serif;
}
container > section[product] dt {
    font-size: 0.7rem;
    color: lighten( black, 50% );
    text-transform: uppercase;
    margin: 0 0 0.5rem 0;
}
container > section[product] dt:after {
    content: ':';
}
container > section[product] dd {
    font-size: 1.3rem;
    color: lighten( black, 0% );
    margin: 0 0 1.5rem 1rem;
}
container > section[product] dl input {
    width: 5.2rem;
    text-align: right;
    margin-top: 0.3rem;
}

container > section[product] figure {
    flex: 1 70%;
}
container > section[product] figure img {
    width: 100%;
}

container > section[product] p {
    margin: 0 0 0.8rem 0;
    font-size: 0.9rem;
    line-height: 1.3rem;
}