container > table[admin] {
    border: 1px solid lighten( black, 95% );
    font-size: 0.8rem;
    letter-spacing: calc(1px / 1.5);
}
container > table[admin] tr {
    border-bottom: 1px solid lighten( black, 95% );
}
container > table[admin] tr:hover {
    background-color: lighten( black, 98% );
}
container > table[admin] td {
    padding: 0.5rem;
    vertical-align: top;
}
container > table[admin] td.pictures img {
    height: 20px;
}
container > table[admin] td.description div {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}