
<section products>

    <h1
        ng-repeat-start="category in root.list | unique:'categoryLink' | orderBy:'categoryPriority' track by $index"
        ng-bind="category.categoryTitle"></h1>
    
    <figure
        ng-repeat="product in root.list track by $index"
        ng-if="product.categoryLink === category.categoryLink">

        <a ui-sref="products({link:product.link})">
            <img ng-src="{{'https://api.backendless.com/1C32EF32-4F17-A809-FFFE-1E36794D9700/v1/files/pictures/' + product.pictures[0]}}" alt="{{product.title}}">
            <figcaption ng-bind="product.title + ' (' + product.size + '&nbsp;см)'"></figcaption>
        </a>

    </figure>

    <div ng-repeat-end ng-if="false"></div>

</section>