
<section product ng-repeat="item in root.list | unique:'link' track by $index" ng-if="item.link === product.state">

    <header>
        <h1 ng-bind="item.title"></h1>
        <big ng-bind="item.fullName"></big>
        <small ng-if="item.latina" ng-bind="item.latina">Ficus microcarpa</small>
    </header>

    <dl>
        <dt>Высота</dt>
        <dd ng-bind="item.size + '&nbsp;см'"></dd>
        <dt>Цена</dt>
        <dd ng-bind="item.price + '&nbsp;грн'"></dd>
        <!--
        <dt>Количество</dt>
        <dd><input type="text" value="1"></dd>
        -->
    </dl>

     <figure>
        <img ng-src="{{'https://api.backendless.com/1C32EF32-4F17-A809-FFFE-1E36794D9700/v1/files/pictures/' + item.pictures[0]}}" alt="{{item.title}}">
    </figure>

    <p ng-bind="item.description">
        Оригинальное растение в стильной керамической бонсайнице. Фикус Микрокарпа чрезвычайно привлекателен благодаря замысловатым переплетениям корней, которые расположены на поверхности. Довольно часто выступает в качестве подарка.
    </p>

</section>
