main nav[breadcrumbs] {
    flex: 2;
    color: $green;
    display: flex;
    align-items: stretch;
    align-content: center;
}
main nav[breadcrumbs] * {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin: 0 0.5rem 0 0;
}
main nav[breadcrumbs] i {
    color: lighten( black, 75% );
}
main nav[breadcrumbs] a {
    text-decoration: none;
    color: lighten( black, 75% );
    border-bottom: 1px solid transparent;
}
main nav[breadcrumbs] a:hover {
    border-bottom: 1px solid $green;
    color: $green;
}