
<h1>Растения в подарок</h1>

<catalog>
    
    <figure>
        <a href="#/item">
            <img src="http://www.cvetnik.com.ua/local/prodimg/Kalanchoe_.jpg" alt="The Pulpit Rock">
            <figcaption>Бонсай Фикус <br>(40 см)</figcaption>
        </a>
    </figure>
    
    <figure>
        <img src="http://www.cvetnik.com.ua/local/prodimg/Phalaenopsis_rose3.jpg" alt="The Pulpit Rock">
        <figcaption>Каланхоэ <br>(20 см)</figcaption>
    </figure>
    
    <figure>
        <img src="http://www.cvetnik.com.ua/local/prodimg/Alocasia.jpg" alt="The Pulpit Rock">
        <figcaption>Фаленопсис 2 цветоноса <br>(65 см)</figcaption>
    </figure>
    
    <figure>
        <img src="http://www.cvetnik.com.ua/local/prodimg/Sansevieria%20kupit%20Kiev%20price.jpg" alt="The Pulpit Rock">
        <figcaption>Сансевиерия <br>(65 см)</figcaption>
    </figure>
    
    <figure>
        <img src="http://www.cvetnik.com.ua/local/prodimg/Saintpaulia.jpg" alt="The Pulpit Rock">
        <figcaption>Антуриум <br>(75 см)</figcaption>
    </figure>

</catalog>






<!--
<div><a ng-href="#/login">login</a></div>

<button ng-click="home.getCom()">get data</button>

<ul>
    <li ng-repeat="d in home.data">
        <h1>{{d.subject}}</h1>
        {{d.description}}
        <a href="javascript: void 0;" ng-click="home.removeTextPage(d.objectId, d.___class)">{{d.objectId}}</a>
    </li>
</ul>

<button ng-click="home.addTextPage()">add data</button>

-->

